.about {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/about.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 550px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &__content {
    padding: 0 0.5rem;
    max-width: 960px;
    text-align: center;
  }
  &__text {
    padding: 1rem;
  }
}
