.card {
  padding: 1rem 0;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-8px) scale(1.05);
  }

  &__fig {
    position: relative;
  }
  &__img {
    height: 400px;
    width: 100%;
  }
  &__text {
    font-size: 1.1rem;
    padding: 1rem 0;
  }
  &__price {
    position: absolute;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    background: rgba(0, 0, 0, 0.33);
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
