.opening {
  background: url("/img/opening.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: #fff;
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 12rem;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
