.join {
  background: linear-gradient(
      to right,
      rgba(218, 34, 255, 0.63),
      rgba(151, 51, 238, 0.671)
    ),
    url("/img/join.png");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 2.5rem 0.8rem;

  &__form {
    max-width: 37.5rem;
    margin: 1.5rem auto 0 auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 3rem 0.7rem;
  }
}
