@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
}
::selection {
  background: violet;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 80%;
  @media screen and (min-width: 769px) {
    font-size: 100%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background: violet;
}
img {
  max-width: 100%;
  display: block;
}

.heading-1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.heading-2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}
.heading-3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.heading-4 {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem 0;
}
